server {
        listen 80;
        listen [::]:80;

        server_name italian-pizza-delivery.site;

        root /home/restaurant-site-frontend;
        index index.html;

        location / {
                try_files $uri $uri/ =404;
        }
        location /static/ {
                root /home/restaurant-site-backend;
        }
        location /api/ {
                include proxy_params;
                proxy_pass http://127.0.0.1:8000;
        }
        location /admin/ {
                include proxy_params;
                proxy_pass http://127.0.0.1:8000;
        }

}
